<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Features required for AAOS release -->
    <uses-feature
        android:name="android.software.car.templates_host"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <application
        android:name=".CarStatsViewer"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hasFragileUserData="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.android.automotive"
            android:resource="@xml/automotive_app_desc"/>

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="6"/>

        <!-- Broadcast receiver to automatically start the app after a crash, update or reboot -->
        <receiver android:name=".AutoStartReceiver"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ixam97.carStatsViewer.RestartAction" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ixam97.carStatsViewer.NOTIFICATION_DELETE" />
            </intent-filter>
        </receiver>

        <!-- Templated activity to be used while driving -->
        <activity
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:name="androidx.car.app.activity.CarAppActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="distractionOptimized"
                android:value="true" />
        </activity>

        <!-- Activity using CarCompose and including all settings and trip history screens -->
        <activity
            android:name=".carCompose.CarComposeActivity"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
            </intent-filter>
        </activity>

        <!-- Car App Service for the app, using IOT-category -->
        <service
            android:name=".carApp.CarStatsViewerService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService"/>
                <category android:name="androidx.car.app.category.IOT"/>
            </intent-filter>
        </service>

        <!-- Primary service to collect vehicle data -->
        <service android:name=".dataCollector.DataCollector"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="true"/>

        <!-- Service to parallelize API-upload of live data -->
        <service android:name=".liveDataApi.uploadService.UploadService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Service for screen capturing for debugging purposes -->
        <service android:name=".utils.ScreenshotService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"/>
    </application>

</manifest>