<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="androidx.car.app.NAVIGATION_TEMPLATES"/>
    <uses-permission android:name="androidx.car.app.ACCESS_SURFACE"/>
    <application>
        <activity android:name=".ui.activities.MainActivity" android:exported="true">
            <meta-data android:name="distractionOptimized" android:value="true"/>
        </activity>
        <activity android:name=".ui.activities.HistoryActivity" android:exported="true" />
    </application>
</manifest>